*{
padding: 0%;
margin: 0%;
font-weight: 400;

}
body{
    color: white;
    background: #171414;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
header{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100px;
    background: rgba(101, 90, 90, 0.06);
}

header h3 {
    font-weight: 300;

    font-size: 48px ;
}
section{
    height: 100vh;
}
.section-1{
    height: calc(100vh - 100px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
     /* FUNDO */
    background-color: #171414;

    /* LINHAS VERTICAIS */
    background-image: linear-gradient(
        to right,
        rgba(255,255,255,0.05) 1px,
        transparent 1px
    );

    background-size: 300px 100%;
}

.section-1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 100px;
    margin-bottom: 100px;
}

.section-1 h2{
    margin-bottom: 180px;
    margin-left: 80px;
}

.section-1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    right: 30px;
    top: 25%;
}

.section-1 img{
  width: 45px;
  height: 45px;  
}


strong{
    font-weight: bold;
}

.section-1  hr{
    width: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

.rotate{
    transform: rotate(90deg);
}

.section-1 h3{
    font-size: 25px;
    margin-bottom: 130px;
}

.section-1 h1{
    font-size: 96px;
}

.section-1 h2{
    font-size:  36px;
}

.linha{
    width: 1px;
    height: 120px;
    background: white;
}

hr {
    display: none;
}

.e-mail {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 16px;
}
.a-1{
    margin-top: 100px;
}